.width-60-percent {
  width: 60%;
}

.quiz-options-list {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.quiz-questions-container {
  margin: 1rem 2rem;
  max-width: 90vw;
}

.quiz-questions-list {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
